*{
    padding: 0%;
    margin: 0%;
}

header {
    text-align: center;
    margin-top: 0px;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
}

#section-color {
    text-align: center;
}

#color-palette {
    border: 1px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: rgb(201, 201, 201);
}

.color{
    border: 1px;
    border-color: black;
    border-style: solid;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin: 5px

}
#pixel-board{
    text-align: center;
    margin: 30px;
}
.pixel{
    background: white;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    padding: 15px;
    margin: 0%;
    
}

#button-random-color{
    
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#clear-board{
    
    border: 1px solid black;
    margin-top: 15px;
    background-color: bisque;
    padding: 3px;
}

main {
    width: 480px;
    margin: auto;

}